main h1 {
    text-align: center;
    color: rgb(255, 255, 25);
    font-family: 'falloutFont';
    font-size: 60px;
    -webkit-text-stroke: 2.5px #961d1db5;
    margin-bottom: 30px;
    margin-top:0px;
}