main h1{
    text-align: center;
    font-family: 'falloutFont';
    font-size: 40px;
    -webkit-text-stroke: 2.5px #961d1db5;
}
.search{
   
    background-color:  #961d1db5;
    color: rgb(255, 255, 25);
    margin: 5em;
    margin-left: 10%;
    margin-right: 10%;
    padding-bottom: 2em;
    padding-top: 2em;
    border-radius: 10px;
    
}
.inventaire {
    display: center;
    background-color:  #961d1db5;
    color: rgb(255, 255, 25);
    margin: 8em;
    margin-left: 10em;
    margin-right: 10em;
    padding-bottom: 2em;
    padding-top: 2em;
}
.inventaire-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    margin-left: 10px;
    margin-right: 10px;
}
.item-container {
    background-color: rgb(255, 255, 255, 0.15);
    padding: 20px;
    text-align: center;
    border-radius: 4px;
}
.item-container div{
    margin-bottom: 10px;
}
.button{
    background-color:  rgba(248, 252, 0, 0.9);
    border-radius: 4px;
    border: none;
    padding: 0.5em;
}
.aucun-item{
    text-align: center;
    margin-top: 20px;
    font-size: 18px;
    
}