body {
    background-image: url("../img/background.jpg");
    background-size: cover;
}

header {
    background-color: #961d1dee;
    color: #731919a3;
    padding: 10px;
    padding-top: 20px;
    text-align: center;
}

main h1 {
    text-align: center;
    color: rgb(255, 255, 25);
    font-family: 'falloutFont';
    font-size: 60px;
    -webkit-text-stroke: 2.5px #961d1db5;
    margin-bottom: 30px;
}

.panier-core {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    color: rgb(255, 255, 25);
    margin: 0 5%;
    gap: 40px;
}

.panier-colonne-gauche {
    direction: rtl;
    width: 950px;
    max-height: 600px;
    overflow-y: auto;
    padding-right: 10px;
    width: 100%;
}

.panier-colonne-gauche::-webkit-scrollbar {
    width: 10px;
}

.panier-colonne-gauche::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 25, 0.7);
    border-radius: 5px;
}

.panier-colonne-gauche::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.2);
}

.panier-items {
    display: flex;
    flex-direction: column;
    gap: 20px;
    direction: ltr;
}

.item-slot {
    background: rgba(255, 255, 255, 0.1);
    padding: 10px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    width: 98%;
    display: grid;
    grid-template-columns: 150px 280px 150px 150px 100px;
    gap: 15px;
    
}

.confirmation {
    background-color: rgba(248, 252, 0, 0.9);
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    width: 300px;
    height: fit-content;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    align-self: flex-start;
}

.boutons-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}

.bouton {
    background-color: #d32f2f;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 25px;
    font-size: 23px;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    transition: background 0.3s ease-in-out, transform 0.2s;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    width: 120px;
}

.bouton:hover {
    background-color: #b71c1c;
    transform: scale(1.05);
}

.bouton:active {
    background-color: #9a0007;
    transform: scale(0.95);
}

.boutonquanti {
    background-color: #b32a2a;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 6px;
    font-size: 20px;
    cursor: pointer;
    transition: background 0.3s ease-in-out, transform 0.2s;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}

.boutonSupprimer {
    margin-top: 10px;
    background-color: #8b0000;
    color: white;
    padding: 8px 15px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
}

.boutonSupprimer:hover {
    background-color: #a50000;
}
