header{
    background-color: #961d1dee;
    color: #731919a3;
    padding: 10px;
    text-align: center;
    padding-top: 20px;
}
body{
    background-image: url("../img/background.jpg");
    background-size: cover;
        
}
nav{
    text-align: left;
}
main {
    display: center;
    background-color:  #961d1db5;
    color: rgb(255, 255, 25);
    margin: 5em;
    margin-left: 30em;
    margin-right: 30em;
    padding-bottom: 2em;
    padding-top: 2em;
}

nav a img {
    transition: transform 0.3s ease, filter 0.3s ease; 
}
nav a:hover img {
    transform: scale(1.2); 
    filter: brightness(1.1); 
}
nav a{
    text-decoration: none;
}

.funnel-sans-body {
    font-family: "Funnel Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 395;
    font-style: normal;
  }


